.new-card-container{
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.preview-border{
    height: 400px;
    width: 100%;
    border-radius: 10px;
    /* border: 2px orange solid; */
}

.input-field {
    padding: 10px;
    margin-top: 10px;
    /* border: 2px purple solid; */
}

.dropdown {
    padding: 10px;
    /* border: 2px grey solid; */
    align-items: center;
    margin-right: 15px;
}

.card {
    min-width: 200px;
    word-break: keep-all;
}

/* .options {
    border: 2px aqua solid;
} */

/* .messageBox {
    word-break: keep-all;
    padding: 1.5rem;
} */

.submit {
    margin-top: 20px;
}