.header {
  border: 2px pink solid;
  /* height: 13rem; */
  flex-direction: column;
  display: flex;
  /* padding: 10px; */
  margin-bottom: 5px;
  /* justify-content: center; */
  /* align-items: center; */
}

.app-title {
  /* font-family:'Bungee Shade', cursive; */
  border: 2px yellow solid;
  max-height: 9rem;
  /* line-height: 9rem;
  white-space: nowrap; */
  padding-top: 1rem;
  padding-bottom: 4rem;
  align-self: center;
  font-size: 4rem;
}

.nav {
  border: 2px orange solid;
  justify-content: space-around;
  display: flex;
}

.sign-out {
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 10px
}