.nav{
  background:rgb(65, 168, 205);
  height: 120px;
  width: 100%;
  position: fixed; 
  z-index: +1;
  padding-top: 20px;
}

.navlogo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding-left: 75px;
  font-weight: 800;
}

nav ul{
  float: right;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  line-height: 80px;
  flex-wrap: nowrap;
}

.navlink, .navlink:hover, .navlink:focus, .navlink:active {
  font-size: 17px;
  margin: 0 5px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-bottom-padding {
  margin-top: 30px;
  background-color: white;
  height: 20px;
  z-index: +1;
}
