.card {
    margin: 25px;
    width: 600px;
    border-radius: 10px;
    /* border: 2px grey solid; */
}

.card-list-container{
    margin-left: 150px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    /* border: 2px green solid; */
}

.card-list {
    border: 2px ;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    /* border: 2px blue solid; */
}

.card-text {
    padding: 1.5rem;
    /* border: 4px pink solid; */
    height: 350px;
    border-radius: 10px;
    word-break: keep-all;
}
.card-title {
    font-size: 2.5rem;
    /* border: 2px purple solid; */
}

.card-message {
    font-size: 1.5rem;
}

.card-message.amatic {
    font-size: 2rem;
}

.card-title.amatic {
    font-size: 3rem;
}

.card-footer-item {
    justify-content: space-between;
}

/* CLASSES FROM API */
/* Fonts */
.cormorant {
    font-family: 'Cormorant Unicase', serif;
}
.kaushan {
    font-family: 'Kaushan Script', cursive;
    /* font-size: 1.5rem; */
}
.amatic {
    font-family: 'Amatic SC', cursive;
    /* font-size: 1.75rem; */
}
.bungee {
    font-family: 'Bungee Shade', cursive;
}
.righteous {
    font-family: 'Righteous', cursive;
}
.julius {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}
.roboto {
    font-family: 'Roboto', sans-serif;

}
.spectral {
    font-family: 'Spectral', serif;
}
.dancing {
    font-family: 'Dancing Script', cursive;
}
/* Font Colors */
.White {
    color: #FFFFFC;
}
.Red {
    color: #D00000;
}
.Black {
    color: #000814;
}
.Blue {
    /* color: blue; */
    color: rgb(65, 168, 205)
}
.Green {
    color: #7EBC89;
}
.Yellow {
    color: #FFBA08;
}
.Orange {
    color: #E85d04;
}
.Purple {
    color: #88498F;
}
.Brown {
    color: #481d24;
}
/* Background Colors */
.bg-White {
    background-color: #FFFFFC;
}
.bg-Red {
    background-color: #D00000;
}
.bg-Black {
    background-color: #000814;
}
.bg-Blue {
    /* background-color: blue; */
    background-color: rgb(65, 168, 205);
}
.bg-Green {
    background-color: #7EBC89;
}
.bg-Yellow {
    background-color: #FFBA08;
}
.bg-Orange {
    background-color: #E85D04;
}
.bg-Purple {
    background-color:#88498F;
}
.bg-Brown {
    background-color: #481d24  ;
}
/* Border Colors */
.border-White {
    border: 5px #FFFFFC solid;
}
.border-Black { 
    border: 5px #000814 solid;
}
.border-Red {
    border: 5px #D00000 solid;
}
.border-Blue {
    /* border: 5px blue solid; */
    border: 5px rgb(65, 168, 205) solid;
}
.border-Green {
    border: 5px #7EBC89 solid;
}
.border-Yellow {
    border: 5px #FFBA08 solid;
}
.border-Orange {
    border: 5px #E85D04 solid;
}
.border-Purple {
    border: 5px #88498F solid;
}
.border-Brown {
    border: 5px #481d24   solid;
}