.card-title {
    font-size: 2.5rem;
    /* border: 2px purple solid; */
}

.card-message {
    font-size: 1.5rem;
}

.card-message.amatic {
    font-size: 2rem;
}

.card-title.amatic {
    font-size: 3rem;
} 