.sidebar-container {
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}

.sidebar {
    border: 2px rgb(65, 168, 205) solid;
    border-radius: 10px;
    margin-top: 120px;
    padding: 20px;
    height: 500px;
    width: 250px;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.sidebar-title {
    position: fixed;
    font-weight: 750;
    font-size: 1.15rem;
}

.sidebar-list-container{
    overflow-y: scroll;
    margin-top: 20px;
}

.list {
    padding: 8px 0px;
}

.term {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    /* border-radius: 10px; */
}