.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header {
  border: 2px pink solid;
  height: 13rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.app-title {
  border: 2px yellow solid;
  height: 9rem;
  /* line-height: 9rem;
  white-space: nowrap; */
  padding: 0rem;
  align-self: center;
  font-size: 4rem;
}

.nav {
  border: 2px orange solid;
  justify-content: space-around;
  display: flex;

}

.sidebar {
  border: 2px blue solid;
  padding: 10px;
}

.card-list {
  border: 2px green solid;
  padding: 20px
}

.card {
  margin: 25px;
  height: 15rem;
}

.sign-out {
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 10px
}
