.card {
  width: 500px;
  margin: 50px;
  padding: 15px;
  border: 2px solid grey;
}

.card-content {
  padding: 10px;
  margin: 10px;
}



/* CLASSES FROM API */
/* Fonts */
.cormorant {
  font-family: 'Cormorant Unicase', serif;
}

.kaushan {
  font-family:'Kaushan Script', cursive;
}

.amatic {
  font-family: 'Amatic SC', cursive;
}

.bungee {
  font-family: 'Bungee Shade', cursive;
}

.righteous {
  font-family: 'Righteous', cursive;
}

.julius {
  font-family: 'Julius Sans One', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.spectral {
  font-family: 'Spectral', serif;
}

.dancing {
  font-family: 'Dancing Script', cursive;
}




.red {
  color:red;
}

.purple {
  color: purple;
}

.bg-yellow {
  background-color: yellow;
}


.border-black {
  border: 2px black solid;
}